@{
    Layout = null;
}

<style type="text/css">
    #tblPlane_wrapper > div:nth-child(3) > div.col-xs-12.col-md-7 {
        width: 98.33333333%;
    }
</style>

    <div id="ChoosePlane">
        <div class="panel panel-group claro-panel-primary">

            <div class="panel-body" style="height: 300px">
                    
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped" id="tblPlane">
                                <thead>
                                    <tr>
                                        <th>Selec.</th>
                                        <th>Id Plano</th>
                                        <th>Descripcion</th>
                                        <th>Distrito</th>
                                        <th>Centro Poblado</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
<script src="~/Areas/Transfer/Scripts/ChoosePlane.js"></script>
