<div id="pnlValidarCoberturaURL" class="panel" style="width: 100%; height: 100%;overflow: hidden">
    <iframe id="idfrCobertura" frameborder="0" 
            style="width: 100%; height: 100%;"
            src="http://limappmweb/claro/"></iframe>

</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")