
<div id="divScheduling">
    <div class="customer-data-title box">
        <div class="customer-data-title-items customer-data-title-icon" style="width: 5%; padding: 0">
            <span class="scheduling-icon"></span>
        </div>
        <div class="customer-data-title-items customer-data-title-label" style="padding-top: 10px; width: 60%">
            <span>DATOS DE TRANSACCIÓN Y AGENDAMIENTO</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="company" class="label-cp">Tipo de Trabajo.</label>
                        <select id="ddlWorkType" class="form-control input-sm WorkType" ></select>
                        <p id="ErrorMessageddlWorkType" class="alert-danger alert-message ErrorMessageddlWorkType"></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="company" class="label-cp">Sub Tipo de Trabajo.</label>
                        <select id="ddlSubWorkType" class="form-control input-sm SubWorkType"></select>
                        <p id="ErrorMessageddlSubWorkType" class="alert-danger alert-message"></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="company" class="label-cp">Motivo SOT.</label>
                        <select id="ddlReasonSot" class="form-control input-sm ReasonSot"></select>
                        <p id="ErrorMessageddlReasonSot" class="alert-danger alert-message"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="company" class="label-cp">Fecha de Visita.</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control input-sm txtCalendar" id="txtCalendar" placeholder="DD/MM/AAAA">
                            <label id="calendartxtStartDate" class="btn transaction-button input-group-addon" for="txtCalendar">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </label>
                        </div>
                        <p id="ErrorMessagetxtCalendar" class="alert-danger alert-message"></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="company" class="label-cp">Horario</label>
                        <select id="ddlTimeZone" class="form-control input-sm ddlTimeZone"></select>
                        <p id="ErrorMessageddlTimeZone" class="alert-danger alert-message"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="company" class="label-cp">Costo de instalación (Incluido IGV) S/ : </label>
                        <input id="txtChargeAmount" type="text" class="form-control inputs-cp txtChargeAmount" placeholder="" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input id="chkLoyalty" class="style-checkbox chkLoyalty" type="checkbox" value="true" style="margin:0px">
                        <label for="chkLoyalty" class="text-import">&ensp;Fidelizar</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="customer-data-title box">
        <div class="customer-data-title-items customer-data-title-icon" style="width: 5%; padding: 0">
            <span class="additional_info-icon"></span>
        </div>
        <div class="customer-data-title-items customer-data-title-label" style="padding-top: 10px; width: 60%">
            <span>DATOS ADICIONALES</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="company" class="label-cp">¿Enviar por e-mail?</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input id="chkSendMail" type="checkbox" class="style-checkbox chkSendMail" aria-label="..." checked>
                                <label for="chkSendMail" class="inline-label "></label>
                            </span>
                            <input id="txtSendMail" type="text" class="form-control inputs-cp txtSendMail" value="" aria-label="...">
                        </div>
                        <p id="ErrorMessagetxtSendMail" class="alert-danger alert-message ErrorMessagetxtSendMail"></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="company" class="label-cp">Teléfono de Referencia. (opcional)</label>
                        <input type="text" id="txtReferencePhone" class="form-control input-sm txtReferencePhone" aria-label="..." maxlength="12">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="company" class="label-cp">Punto de Atención.</label>
                        <select id="ddlCenterofAttention" class="form-control input-sm ddlCenterofAttention"></select>
                        <p id="ErrorMessageddlCenterofAttention" class="alert-danger alert-message"></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="company" class="label-cp">Notas.</label>
                        <textarea id="txtNote" class="form-control input-sm txtNote" rows="6"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    .text-import {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 15px;
        margin-top: 10px;
    }

    .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
        background: red;
        color: white;
        cursor: default;
    }
</style>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")

<script type="text/javascript">
    function unavailable(date) {
        dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
        if ($.inArray(dmy, unavailableDates) == -1) {
            return [true, ""];
        } else {
            return [false, "", "No Disponible"];
        }
    }

    var date = new Date();
    date.setDate(date.getDate());
    $("#txtCalendar").datepicker({
        format: 'dd/mm/yyyy',
        startDate: date,
        autoclose: true,
        minDate: 0,
        // beforeShowDay: unavailable
    });
</script>