
@{
    ViewBag.Title = "Bridge";
    Layout = "~/Areas/Transfer/Views/Shared/_Layout.cshtml";
}

<div id="dRedirectContent" data-sequence="@ViewBag.sequence"></div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
@System.Web.Optimization.Scripts.Render("~/bundles/Transfer/Redirect")

